* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAV BAR */
.navbar{
    height: 12vh;
    position: sticky;
}
#logo{
    height: 10vh;
}

.header-menu{
    background-color: #253961;
}
.nav-link, .navbar-brand{
    color: white;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.nav-link:hover, .navbar-brand:hover{
    color: #2a4c91;
    border-bottom:2px solid white;
}
.nav-item{
    padding-right: 1.2em;
}
/* SECTION HOME */
#home{
    height: 88vh;
}
#image-home{
     width: 45vw;
}
.navbar-toggler{
    border: none;
}

@media screen and (max-width: 1040px){
    #div-all-home{
        padding-top: 100px ;
        justify-content: space-between;
    }
    #div-img{
        width: 350px;
    }
    #image-home{
        width: 45vh;
    }   
    #div-home{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 40vw;
    }
/* NAVBAR */
    .nav-item{
        background-color: #2d4880;
        width: 100%;
        border: 1px solid #1c2b49;
        text-align: center;
    }
}

@media screen and (max-width: 770px){
    #section-home{
        flex-direction: column;
    }
    #div-all-home{
        height: 80vh;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
    }
    #div-home{
        width: 80%;
    }
}